*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.whole-background{
    background-color:#f5f0f1;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
.university_image{
    height: 40px;
    width: 120px;
    margin-left: 50px;
    margin-top: 35px;
}
.column-align{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:10px;
    margin-left: 50px;
    margin-top: 40px;
}
.menu-logo{
    height: 30px;
    width: 30px;
}
.page-element-background{
    background-color: #f7cecb;
    width: 210px;
    padding: 5px;
    padding-left: 12px;
    border-left-style: solid;
    border-left-width: 6px;
    border-left-color: red;
    border-radius:5px;
 }
.candidate-name{
    font-size: 14px;
    font-weight: 600;
}
.candidate-mail{
    font-size: 13px;
}
.notification_profile_alignment{
    float: right;
}
.menu-items-background{
    background-color:#fae6ec;
    border-style: solid;
    padding: 8px;
    border-width: 0px 0px 0px 6px;
    color: red;
    display: flex;
    flex-direction: row;
    max-width: 250px;
    padding-left: 20px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.white-background{
    background-color: white;
    width: 280px;
    height: 100vh;
}
.logout-icon-text-alignment{
    display: flex;
    flex-direction: row;
    margin-top: 350px;
    margin-left: 50px;
}
.search-box{
   border-style: solid;
   border-width: 1px;
   border-color: #dedcdc;
   width: 500px;
   color: #ebebeb;
   margin-left: 27px;
   margin-top: 17px;
   padding-left: 20px;
   font-size: 12px;
   height: 37px;
}
.search_box_button{
    background-color: #E4042C;
    border-width: 0px;
    border-radius: 2px;
    margin-top: 17px;
    text-align: center;
    height: 37px;
    width: 60px;
}
.search_box_icon{
    height: 15px;
    width: 15px;
}
.notification-alignment{
    background-color: white;
    border-radius: 2px;
    height: 30px;
    width: 30px;
    text-align: center;
    margin: 20px;
    position: relative;
}
.notification-logo{
    height: 18px;
    width: 18px;
}
.notification-count{
    color: white;
    background-color: #E4042C;
    text-align: center;
    font-size: 10px;
    border-radius: 50%;
    position: absolute;
    width: 15px;
    left: 16px;
    top: -1px;
}
.profile-logo{
    height: 38px;
    width: 38px;
    margin-left: 30px;
}
.semester_selection_card{
    background-color: #E4042C;
    padding-left: 28px;
    padding-top: 11px;
    height: 35px;
    width: 1000px;
    border-radius:4px;
    margin-left: 26px;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    gap:27px;
}
.semester-card-headings{
    color: white;
    font-size: 11px;
    font-weight: 400;
}
.underline{
    width: 10px;
    height: 3px;
    color: white;
}
.rules-card{
    background-color: white;
    border-radius: 4px;
    border-width: 1px;
    width: 720px;
    margin-left: 30px;
    border-color:  #DFDFDF;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 12px;
    padding-right: 25px;
}
.rules-card-content{
    font-size: 10px;
    text-align: justify;
}
.divider{
    width: 0.5px;
    color: #c9c9c9;
    height: 40px;
}
.rules-card-heading{
    color: #E4042C;
    font-size: 16px;
    margin-left: 30px;
    font-weight: 450;
}
li{
    list-style-image: url("/assets/Group\ 64.svg");
    list-style-position: inside;
}
.download-card{
    width: 250px;
    height: auto;
    padding: 10px;
    margin: 10px;
    background-color: white;
}
.download-card-heading{
    font-size: 13px;
    font-weight: 550;
}
.download-card-sub-heading{
    font-size: 10px;
    font-weight: 450;
}
.download-card-content{
    font-size: 8px;
}
.download-card-button{
    padding: 5px;
    color: white;
    background-color: #d4554c;
    font-size: 8px;
    border-width: 0px;
}
.links-card{
    background-color: white;
    padding: 12px;
    margin-left: 12px;
}
.links-card-heading{
    font-size: 12px;
}
.links-card-content{
    font-size: 9px;
}